body {

  background-image: url("/images/tennisphoto.jpeg");
}

#titlesection {
  text-align: center;
  font-family: "Courier";
  color: #C9F571;
}

#search-term {
  text-align: center;
  padding-bottom: 2%;
  color: #C9F571;
}

h3 {
  color: #392240;
  font-family: "Courier";
}

#submitbutton {
  background-color: #D8D2D9;
  color: #74353D;
}

#query {
  width: 25%;
}

li {
  list-style: none;
  margin-left: 38%;
}

#mapsection {
  height: 400px;
  margin-left: 5%;
  margin-right: 5%;
}

#googleMap {
    width: 100%;
    height: 100%;
    align: center;
}
